{% extends 'base.html' %}
{% block content %}
<h1>Поиск</h1>
<br>
<form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputSurname">Фамилия</label>
        <input type="text" class="form-control" id="inputSurname">
      </div>
      <div class="form-group col-md-4">
        <label for="inputName">Имя</label>
        <input type="text" class="form-control" id="inputName">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPatronymic">Отчество</label>
        <input type="text" class="form-control" id="inputPatronymic">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputDepartment">Отдел</label>
        <select id="inputDepartment" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label class="text-light">.</label>
        <button type="submit" class="btn btn-primary form-control">Найти</button>
      </div>
    </div>
  </form>

  <br>

  <div style="width: 100%; overflow: auto;">
    <table class="table">
        <thead style="background-color: #2e77ff">
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Должность</th>
                <th>Отдел</th>
                <th style="color: #2e77ff">.</th>
            </tr>
        </thead>
        <!-- {% for el in form %}
        <tr>
            <td class="w-auto">{{ el.lastname }}</td>
            <td class="w-auto">{{ el.firstname }}</td>
            <td class="w-auto">{{ el.middle_name }}</td>
            <td class="w-auto">{{ el.sex }}</td>
            <td style="white-space: nowrap;">{{ el.date_bith }}</td>
            <td style="white-space: nowrap;">{{ el.locality }},
                {{ el.district }},
                <br>{{ el.street }},
                {{ el.home }}
                {{ el.body }}
                {{ el.flat }} </td>
            <td>{{ el.diagnosis.mkb }}</td>
            <td style="white-space: nowrap;">{{ el.date_of_establishment }}</td>
            <td>{{ el.place_of_detection }}</td>
            <td>{{ el.circumstances_of_detection }}</td>
            <td>{{ el.physician }}</td>
            <td style="white-space: nowrap;">{{ el.date_of_application }}</td>
        </tr>
        {% endfor %} -->
    </table>
  </div>
{% endblock %}